/jsfDemo/nbproject/private/
/jsfDemo/build/
/jsfprimefaces/build/
/jsfprimefaces/nbproject/private/
/jsfHybernetPrimefaceMySql39/nbproject/private/
/jsfHybernetPrimefaceMySql39/build/
/WebApplication1/nbproject/private/
/JSF_Project/nbproject/private/
/JSF_Project/build/
/JSF_Project/dist/
/jsfThrmeInstall/nbproject/private/
/jsfThrmeInstall/build/
/Evidence1/nbproject/private/